{% extends 'layout.html' %}
{% load web %}
{% block js %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        //发布代码时转圈效果
        $(function () {
            $("[data-toggle='popover']").popover();
        });

        $(".btnLoad").click(
            function () {
                $(".loading").addClass("active")
            }
        );
        //checkbox 全选/取消全选
        var isCheckAll = false;

        function swapCheck() {
            if (isCheckAll) {
                $("input[type='checkbox']").each(function () {
                    this.checked = false;
                });
                isCheckAll = false;
            } else {
                $("input[type='checkbox']").each(function () {
                    this.checked = true;
                });
                isCheckAll = true;
            }
        }
    </script>
{% endblock %}


{% block content %}
    <div class="luffy-container">
        <form method="post" class="form-horizontal" novalidate>
            {% csrf_token %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <i class="fa fa-book" aria-hidden="true"></i>发布信息
                    <button href="" class="right btn btn-primary btn-xs btnLoad" style="padding: 2px 8px;margin:-3px">
                        <i class="fa fa-mail-forward" aria-hidden="true"></i>
                        发布

                    </button>
                </div>
                <div class="panel-body">
                    <h5>项目：{{ deploy_object.project.title }}</h5>
                    <h5>分支：{{ deploy_object.branch }}</h5>
                    <h5>发布路径：{{ deploy_object.project.online_path }}</h5>

                </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>

                        <th><input type="checkbox" onclick="swapCheck()"/> 全选</th>
                        <th>主机</th>
                        <th>状态</th>
                        <th>发布时间</th>
                        <th>日志</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for host in all_host_list %}
                        <tr>

                            <td>
                                {% if host.id in deployed_host_dict %}
                                    <input value="{{ host.id }}" type="checkbox" name="hosts" checked>
                                {% else %}
                                    <input value="{{ host.id }}" type="checkbox" name="hosts">
                                {% endif %}

                            </td>
                            <td>{{ host.hostname }}</td>
                            <td>
                                {% deploy_status host.id deployed_host_dict %}


                            </td>
                            <td>
                                {% host_datetime host.id deployed_host_dict %}

                            </td>
                            <td>

                                <button type="button" class="btn btn-info" data-container="body"
                                        data-toggle="popover" data-placement="bottom"
                                        data-content="{% log_info host.id deployed_host_dict %}">
                                    查看日志
                                </button>

                            </td>
                            <td>{{ host.other }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>


        </form>
    </div>
    <div class="loading">
        <img src="/static/imgs/loading.gif"/>
    </div>
{% endblock %}