<div class="multi-menu">
    {% for item in menus %}
        <div class="item">
            <div class="title"><span class="icon-wrap">
                <i class="fa {{ item.icon }}"></i></span> {{ item.title }}
            </div>
            <div class="body {{ item.class }}">
                {% for child in item.children %}
                    <a class="{{ child.class }}" href="{{ child.url }}">{{ child.title }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>